In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://members.dartconnect.com/history/report/players/match/5e66e962d4649e21a0e910ef'

response = requests.get(url)

In [3]:
#Check for data access
response.status_code

200

In [4]:
response.text[:1000]

'<!DOCTYPE html><html><head><title>PP: 10ef</title><link rel="shortcut icon" href="/images/favicon.png"><link href="/css/reports.css" rel="stylesheet"></head><body><!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5RV476"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':new Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!=\'dataLayer\'?\'&l=\'+l:\'\';j.async=true;j.src=\'//www.googletagmanager.com/gtm.js?id=\'+i+dl;f.parentNode.insertBefore(j,f);})(window,document,\'script\',\'dataLayer\',\'GTM-5RV476\');</script><!-- End Google Tag Manager --><div class="report-container"><div class="report-header"><table class="freeTable" width=800 border=0><tr><td width=140 align="center"><a href="https://tv.dartconnect.com/leaguematches/wcdo"><img src="/images/dctv_icon.png" width=100 height=100></a><br><a class="smallHeaderLink" h'

In [5]:
page = response.text

In [6]:
soup = BeautifulSoup(page, "lxml")

In [7]:
print(soup.prettify())

<!DOCTYPE html>
<html>
 <head>
  <title>
   PP: 10ef
  </title>
  <link href="/images/favicon.png" rel="shortcut icon"/>
  <link href="/css/reports.css" rel="stylesheet"/>
 </head>
 <body>
  <!-- Google Tag Manager -->
  <noscript>
   <iframe height="0" src="//www.googletagmanager.com/ns.html?id=GTM-5RV476" style="display:none;visibility:hidden" width="0">
   </iframe>
  </noscript>
  <script>
   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5RV476');
  </script>
  <!-- End Google Tag Manager -->
  <div class="report-container">
   <div class="report-header">
    <table border="0" class="freeTable" width="800">
     <tr>
      <td align="center" width="140">
       <a href="https://tv.dartconnect.com/leaguematches/wcdo">
        <img height="100" src="/images/dctv_icon.png" width="100"/>
       </a>
       <br/>
       <a class="smallHeaderLink" href="https://tv.dartconnect.com/leaguematches/wcdo">
        More Darts!
       </a>
      </td>
      <td align="center" width="520">
       <h1 class="match-title">
        Player Performance
       </h1>
       <a href="https://leaderboard.dartconnect.com/leaderboard#l-u46t_1363_all-all_01-all-all-all-all-all">
        View Leaderboard
       </a>
       <br/>
       <a href="https://tv.dartconnect.com/leaguestandings/wcdo/1363/6266">
        View Division Standings
       </a>
      </td>
      <td align="center" width="140">
       <a class="subtle-link" href="https://www.dartconnect.com" target="wwwdartconnect">
        <img id="dc_member_logo" src="/images/dc_member_logo.png"/>
       </a>
       <br/>
       <a class="smallHeaderLink" href="https://www.dartconnect.com" target="blank">
        Learn More
       </a>
      </td>
     </tr>
    </table>
    <table border="0" class="freeTable matchHeaderStats" width="800">
     <tr>
      <td align="center" colspan="9">
       <h2>
        WCDO • Windy City Darters - Open
       </h2>
      </td>
     </tr>
     <tr>
      <th align="left" class="leftCellPad">
       Date:
      </th>
      <td align="right">
       Mon, 3-9-20
      </td>
      <td class="paddedCell">
      </td>
      <th align="left">
       Game Time:
      </th>
      <td align="right">
       2:06
      </td>
      <td class="paddedCell">
      </td>
      <th align="left">
       Matches:
      </th>
      <td align="right">
       1
      </td>
      <td class="paddedCell">
      </td>
     </tr>
     <tr>
      <th align="left" class="leftCellPad">
       Start:
      </th>
      <td align="right">
       8:05 PM
      </td>
      <td class="paddedCell">
      </td>
      <th align="left">
       Match Length:
      </th>
      <td align="right">
       2:49
      </td>
      <td class="paddedCell">
      </td>
      <th align="left">
       Games:
      </th>
      <td align="right">
       20
      </td>
      <td class="paddedCell">
      </td>
     </tr>
     <tr>
      <th align="left" class="leftCellPad">
       End:
      </th>
      <td align="right">
       10:54 PM
      </td>
      <td class="paddedCell">
      </td>
      <th align="left">
       DER:
      </th>
      <td align="right">
       75%
      </td>
      <td class="paddedCell">
      </td>
      <th align="left">
       Darts:
      </th>
      <td align="right">
       1,122
      </td>
      <td class="paddedCell">
      </td>
     </tr>
    </table>
   </div>
   <div class="navrow-container">
    <table border="0" width="100%">
     <tr>
      <td align="right" style="font-style: italic;">
       Select Report:
      </td>
      <td align="center">
       <a href="/history/report/match/5e66e962d4649e21a0e910ef">
        Summary &gt;
       </a>
      </td>
      <td align="center">
       <a href="/history/report/games/match/5e66e962d4649e21a0e910ef">
        Game Detail &gt;
       </a>
      </td>
      <td align="center">
       <h2>
        Player Performance
       </h2>
      </td>
      <td align="center">
       <a href="/history/report/counts/match/5e66e962d4649e21a0e910ef">
        Match Counts &gt;
       </a>
      </td>
      <td align="center">
       <a href="/#dashboard" target="membersite">
        My DCA &gt;
       </a>
      </td>
     </tr>
    </table>
   </div>
   <div class="accomplishements-container">
    <table border="0" class="freeTable game-summary-data sectionGuideTable" width="800">
     <tr>
      <td valign="top">
       <table border="0" width="360">
        <tr>
         <td class="accomp-header" colspan="3">
          '01 Leaders
         </td>
        </tr>
        <tr>
         <td class="accomp_stats">
          High Turn
         </td>
         <td class="accomp_statsRight">
          140
         </td>
         <td class="accomp_stats">
          Matt Kulowitch x 2
         </td>
        </tr>
        <tr>
         <td class="accomp_stats">
          High DO
         </td>
         <td class="accomp_statsRight">
          70
         </td>
         <td class="accomp_stats">
          Christopher Quinn
         </td>
        </tr>
        <tr>
         <td class="accomp_stats">
          High DI
         </td>
         <td class="accomp_statsRight">
          112
         </td>
         <td class="accomp_stats">
          Scott Seisser
         </td>
        </tr>
       </table>
      </td>
      <td width="80">
       &amp;nbsp
      </td>
      <td valign="top">
       <table border="0" width="360">
        <tr>
         <td class="accomp-header" colspan="3">
          High Points Per Round
         </td>
        </tr>
        <tr>
         <td class="accomp_stats">
          High PPR (S)
         </td>
         <td class="accomp_statsRight">
          51.8
         </td>
         <td class="accomp_stats">
          Brad Benshop
         </td>
        </tr>
        <tr>
         <td class="accomp_stats">
          High PPR (D)
         </td>
         <td class="accomp_statsRight">
          71.6
         </td>
         <td class="accomp_stats">
          Michael Vonder Haar
          <br/>
          Christopher Quinn
         </td>
        </tr>
       </table>
      </td>
     </tr>
     <tr>
      <td colspan="2">
      </td>
     </tr>
     <tr>
      <td>
       <table border="0" width="360">
        <tr>
         <td class="accomp-header" colspan="3">
          Cricket Leaders
         </td>
        </tr>
        <tr>
         <td class="accomp_stats">
          High Turn
         </td>
         <td class="accomp_statsRight">
          6M
         </td>
         <td class="accomp_stats">
          Matt Kulowitch
         </td>
        </tr>
        <tr>
         <td class="accomp_stats">
          Bulls
         </td>
         <td class="accomp_statsRight">
          12
         </td>
         <td class="accomp_stats">
          Matt Kulowitch
         </td>
        </tr>
        <tr>
         <td class="accomp_stats">
          Triples
         </td>
         <td class="accomp_statsRight">
          15
         </td>
         <td class="accomp_stats">
          Will Moore
         </td>
        </tr>
       </table>
      </td>
      <td width="80">
       &amp;nbsp
      </td>
      <td valign="top">
       <table border="0" width="360">
        <tr>
         <td class="accomp-header" colspan="3">
          High Marks Per Round
         </td>
        </tr>
        <tr>
         <td class="accomp_stats">
          High MPR (S)
         </td>
         <td class="accomp_statsRight">
          2.71
         </td>
         <td class="accomp_stats">
          Will Moore
         </td>
        </tr>
        <tr>
         <td class="accomp_stats">
          High MPR (D)
         </td>
         <td class="accomp_statsRight">
          2.91
         </td>
         <td class="accomp_stats">
          Matt Kulowitch
          <br/>
          Brad Benshop
         </td>
        </tr>
       </table>
      </td>
     </tr>
    </table>
   </div>
   <div class="match-summary">
    <table class="borderTable" width="100%">
     <tr>
      <td class="match_summary_header" width="155">
       Players
      </td>
      <td width="1">
      </td>
      <td class="match_summary_header" colspan="3">
       Match
      </td>
      <td width="1">
      </td>
      <td class="match_summary_header" colspan="3">
       All '01 Games
      </td>
      <td width="1">
      </td>
      <td class="match_summary_header" colspan="3">
       All Cricket Games
      </td>
     </tr>
     <tr>
      <td class="match_summary_header">
      </td>
      <td>
      </td>
      <td class="match_summary_header">
       Games
      </td>
      <td class="match_summary_header">
       Wins
      </td>
      <td class="match_summary_header">
       Win %
      </td>
      <td>
      </td>
      <td class="match_summary_header">
       Points
      </td>
      <td class="match_summary_header">
       Darts
      </td>
      <td class="match_summary_header">
       PPR
      </td>
      <td>
      </td>
      <td class="match_summary_header">
       Marks
      </td>
      <td class="match_summary_header">
       Darts
      </td>
      <td class="match_summary_header">
       MPR
      </td>
     </tr>
     <tr>
      <td align="left">
       <span class="playerPerfName">
        <a href="https://leaderboard.dartconnect.com/showcard.html#Benshop-49.7-2.4" target="5e66e962d4649e21a0e910ef-Benshop-Brad">
         Benshop, Brad
        </a>
       </span>
      </td>
      <td>
      </td>
      <td class="data">
       6
      </td>
      <td class="data">
       4
      </td>
      <td class="data">
       67%
      </td>
      <td>
      </td>
      <td class="data">
       1,325
      </td>
      <td class="data">
       80
      </td>
      <td class="data">
       49.7
      </td>
      <td>
      </td>
      <td class="data">
       26
      </td>
      <td class="data">
       33
      </td>
      <td class="data">
       2.4
      </td>
     </tr>
     <tr>
      <td align="left">
       <span class="playerPerfName">
        <a href="https://leaderboard.dartconnect.com/showcard.html#Demarinis-34.8-x" target="5e66e962d4649e21a0e910ef-Demarinis-Pat">
         Demarinis, Pat
        </a>
       </span>
      </td>
      <td>
      </td>
      <td class="data">
       8
      </td>
      <td class="data">
       5
      </td>
      <td class="data">
       63%
      </td>
      <td>
      </td>
      <td class="data">
       1,532
      </td>
      <td class="data">
       132
      </td>
      <td class="data">
       34.8
      </td>
      <td>
      </td>
      <td class="data">
      </td>
      <td class="data">
      </td>
      <td class="data">
      </td>
     </tr>
     <tr class="playerDivider">
      <td align="left">
       <span class="playerPerfName">
        <a href="https://leaderboard.dartconnect.com/showcard.html#Kulowitch-53.1-2.2" target="5e66e962d4649e21a0e910ef-Kulowitch-Matt">
         Kulowitch, Matt
        </a>
       </span>
      </td>
      <td>
      </td>
      <td class="data">
       9
      </td>
      <td class="data">
       3
      </td>
      <td class="data">
       33%
      </td>
      <td>
      </td>
      <td class="data">
       849
      </td>
      <td class="data">
       48
      </td>
      <td class="data">
       53.1
      </td>
      <td>
      </td>
      <td class="data">
       95
      </td>
      <td class="data">
       128
      </td>
      <td class="data">
       2.2
      </td>
     </tr>
     <tr>
      <td align="left">
       <span class="playerPerfName">
        <a href="https://leaderboard.dartconnect.com/showcard.html#Mitsui-31.5-1.4" target="5e66e962d4649e21a0e910ef-Mitsui-Mike">
         Mitsui, Mike
        </a>
       </span>
      </td>
      <td>
      </td>
      <td class="data">
       9
      </td>
      <td class="data">
       2
      </td>
      <td class="data">
       22%
      </td>
      <td>
      </td>
      <td class="data">
       1,324
      </td>
      <td class="data">
       126
      </td>
      <td class="data">
       31.5
      </td>
      <td>
      </td>
      <td class="data">
       7
      </td>
      <td class="data">
       15
      </td>
      <td class="data">
       1.4
      </td>
     </tr>
     <tr>
      <td align="left">
       <span class="playerPerfName">
        <a href="https://leaderboard.dartconnect.com/showcard.html#Moore-46.1-2.4" target="5e66e962d4649e21a0e910ef-Moore-Will">
         Moore, Will
        </a>
       </span>
      </td>
      <td>
      </td>
      <td class="data">
       9
      </td>
      <td class="data">
       5
      </td>
      <td class="data">
       56%
      </td>
      <td>
      </td>
      <td class="data">
       753
      </td>
      <td class="data">
       49
      </td>
      <td class="data">
       46.1
      </td>
      <td>
      </td>
      <td class="data">
       102
      </td>
      <td class="data">
       127
      </td>
      <td class="data">
       2.4
      </td>
     </tr>
     <tr class="playerDivider">
      <td align="left">
       <span class="playerPerfName">
        <a href="https://leaderboard.dartconnect.com/showcard.html#Quinn-48.2-1.8" target="5e66e962d4649e21a0e910ef-Quinn-Christopher">
         Quinn, Christopher
        </a>
       </span>
      </td>
      <td>
      </td>
      <td class="data">
       9
      </td>
      <td class="data">
       8
      </td>
      <td class="data">
       89%
      </td>
      <td>
      </td>
      <td class="data">
       2,073
      </td>
      <td class="data">
       129
      </td>
      <td class="data">
       48.2
      </td>
      <td>
      </td>
      <td class="data">
       11
      </td>
      <td class="data">
       18
      </td>
      <td class="data">
       1.8
      </td>
     </tr>
     <tr>
      <td align="left">
       <span class="playerPerfName">
        <a href="https://leaderboard.dartconnect.com/showcard.html#Seisser-38.8-1.1" target="5e66e962d4649e21a0e910ef-Seisser-Scott">
         Seisser, Scott
        </a>
       </span>
      </td>
      <td>
      </td>
      <td class="data">
       4
      </td>
      <td class="data">
       2
      </td>
      <td class="data">
       50%
      </td>
      <td>
      </td>
      <td class="data">
       233
      </td>
      <td class="data">
       18
      </td>
      <td class="data">
       38.8
      </td>
      <td>
      </td>
      <td class="data">
       12
      </td>
      <td class="data">
       33
      </td>
      <td class="data">
       1.1
      </td>
     </tr>
     <tr>
      <td align="left">
       <span class="playerPerfName">
        <a href="https://leaderboard.dartconnect.com/showcard.html#Steingold-37.8-x" target="5e66e962d4649e21a0e910ef-Steingold-Aaron">
         Steingold, Aaron
        </a>
       </span>
      </td>
      <td>
      </td>
      <td class="data">
       5
      </td>
      <td class="data">
       1
      </td>
      <td class="data">
       20%
      </td>
      <td>
      </td>
      <td class="data">
       1,172
      </td>
      <td class="data">
       93
      </td>
      <td class="data">
       37.8
      </td>
      <td>
      </td>
      <td class="data">
      </td>
      <td class="data">
      </td>
      <td class="data">
      </td>
     </tr>
     <tr class="playerDivider">
      <td align="left">
       <span class="playerPerfName">
        <a href="https://leaderboard.dartconnect.com/showcard.html#Vonder Haar-39.5-x" target="5e66e962d4649e21a0e910ef-Vonder Haar-Michael">
         Vonder Haar, Michael
        </a>
       </span>
      </td>
      <td>
      </td>
      <td class="data">
       5
      </td>
      <td class="data">
       2
      </td>
      <td class="data">
       40%
      </td>
      <td>
      </td>
      <td class="data">
       1,224
      </td>
      <td class="data">
       93
      </td>
      <td class="data">
       39.5
      </td>
      <td>
      </td>
      <td class="data">
      </td>
      <td class="data">
      </td>
      <td class="data">
      </td>
     </tr>
    </table>
   </div>
   <div class="recapMsg">
    <p>
     An email address is required for DartConnect to calculate, report and deliver player performance data. Membership is required for league statistics, select reporting features and trend analysis. Confirm your email address on the device that hosted this match &amp; join DartConnect today!
    </p>
   </div>
   <div class="match-summary">
    <table border="0" class="freeTable gameDetailTable" width="800">
     <tr>
      <td colspan="3">
       <table border="0" class="freeTable playerPref" width="800">
        <tr>
         <th>
         </th>
         <th>
          Game
         </th>
         <th>
          Player
         </th>
         <th>
          C
         </th>
         <th>
          P-3DA
         </th>
         <th>
          3DA
         </th>
         <th>
          PPD
         </th>
         <td>
          &amp;nbsp
         </td>
         <th>
          T
         </th>
         <th>
          WA
         </th>
         <th>
          RD
         </th>
         <th>
          CO
         </th>
         <td>
          &amp;nbsp
         </td>
         <th>
          SS
         </th>
         <th>
          PR
         </th>
         <th>
          DT
         </th>
         <th>
          PTS
         </th>
         <th>
          MKS
         </th>
         <td>
          &amp;nbsp
         </td>
         <th>
          180
         </th>
         <th>
          HT
         </th>
         <th>
          9M
         </th>
        </tr>
        <tr class="">
         <td class="gameNum">
          1.1
         </td>
         <td class="leftcell">
          501 SIDO
         </td>
         <td class="leftcell">
          Brad Benshop
         </td>
         <td>
          S
         </td>
         <td>
         </td>
         <td class="rightcell">
          50.1
         </td>
         <td class="rightcell">
          16.7
         </td>
         <td class="spacer_col">
         </td>
         <td align="center">
          1
         </td>
         <td>
          W
         </td>
         <td>
          10
         </td>
         <td class="rightcell">
          20
         </td>
         <td class="spacer_col">
         </td>
         <td>
          501
         </td>
         <td>
         </td>
         <td>
          30
         </td>
         <td class="rightcell">
          501
         </td>
         <td>
         </td>
         <td class="spacer_col">
         </td>
         <td>
         </td>
         <td>
         </td>
         <td>
         </td>
        </tr>
        <tr class="gameDetailSetAlt">
         <td colspan="2">
         </td>
         <td class="leftcell">
          Aaron Steingold
         </td>
         <td>
         </td>
         <td>
         </td>
         <td class="rightcell">
          47.6
         </td>
         <td class="rightcell">
          15.9
         </td>
         <td class="spacer_col">
         </td>
         <td align="center">
          2
         </td>
         <td>
         </td>
         <td>
         </td>
         <td>
         </td>
         <td class="spacer_col">
         </td>
         <td>
          501
         </td>
         <td>
          73
         </td>
         <td>
          27
         </td>
         <td class="rightcell">
          428
         </td>
         <td>
         </td>
         <td class="spacer_col">
         </td>
         <td>
         </td>
         <td>
         </td>
         <td>
         </td>
        </tr>
        <tr class="gameLine">
         <td class="gameNum">
          1.2
         </td>
         <td class="leftcell">
          501 SIDO
         </td>

In [8]:
#Identify game detail table
game_pp = soup.find_all('table')[9]
game_pp

<table border="0" class="freeTable gameDetailTable" width="800"><tr><td colspan="3"><table border="0" class="freeTable playerPref" width="800"><tr><th> </th><th>Game</th><th>Player</th><th>C</th><th>P-3DA</th><th>3DA</th><th>PPD</th><td>&amp;nbsp</td><th>T</th><th>WA</th><th>RD</th><th>CO</th><td>&amp;nbsp</td><th>SS</th><th>PR</th><th>DT</th><th>PTS</th><th>MKS</th><td>&amp;nbsp</td><th>180</th><th>HT</th><th>9M</th></tr><tr class=""><td class="gameNum">1.1</td><td class="leftcell">501 SIDO</td><td class="leftcell">Brad Benshop</td><td>S</td><td></td><td class="rightcell">50.1</td><td class="rightcell">16.7</td><td class="spacer_col"></td><td align="center">1</td><td>W</td><td>10</td><td class="rightcell">20</td><td class="spacer_col"></td><td>501</td><td> </td><td>30</td><td class="rightcell">501</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Aaron Steingold</td><td></td><td></td><td class="rightcell">47.6</td><td class="rightcell">15.9</td><td class="spacer_col"></td><td align="center">2</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td>501</td><td>73</td><td>27</td><td class="rightcell">428</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameLine"><td class="gameNum">1.2</td><td class="leftcell">501 SIDO</td><td class="leftcell">Brad Benshop</td><td></td><td></td><td class="rightcell">51.8</td><td class="rightcell">17.3</td><td class="spacer_col"></td><td align="center">2</td><td>W</td><td>10</td><td class="rightcell">54</td><td class="spacer_col"></td><td>501</td><td> </td><td>29</td><td class="rightcell">501</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Aaron Steingold</td><td>S</td><td></td><td class="rightcell">40.8</td><td class="rightcell">13.6</td><td class="spacer_col"></td><td align="center">1</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td>501</td><td>93</td><td>30</td><td class="rightcell">408</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="set-divider"><td colspan="7"></td><td class="spacer_col"></td><td colspan="4"></td><td class="spacer_col"></td><td colspan="5"></td><td class="spacer_col"></td><td colspan="3"></td></tr><tr class=""><td class="gameNum">2.1</td><td class="leftcell">301 DIDO</td><td class="leftcell">Matt Kulowitch</td><td rowspan="2"></td><td rowspan="2">28.6</td><td class="rightcell">46.7</td><td class="rightcell">15.6</td><td class="spacer_col"></td><td align="center">2</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td>301</td><td>158</td><td>9</td><td class="rightcell">140</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class=""><td colspan="2"></td><td class="leftcell">Mike Mitsui</td><td class="rightcell">1.5</td><td class="rightcell">0.5</td><td class="spacer_col"></td><td align="center">4</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td> </td><td> </td><td>6</td><td class="rightcell">3</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Christopher Quinn</td><td rowspan="2">C</td><td rowspan="2">50.2</td><td class="rightcell">29.0</td><td class="rightcell">9.7</td><td class="spacer_col"></td><td align="center">1</td><td>A</td><td> </td><td> </td><td class="spacer_col"></td><td>301</td><td> </td><td>9</td><td class="rightcell">87</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Will Moore</td><td class="rightcell">71.3</td><td class="rightcell">23.8</td><td class="spacer_col"></td><td align="center">3</td><td>W</td><td>3</td><td class="rightcell">32</td><td class="spacer_col"></td><td> </td><td> </td><td>9</td><td class="rightcell">214</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameLine"><td class="gameNum">2.2</td><td class="leftcell">Cricket</td><td class="leftcell">Matt Kulowitch</td><td rowspan="2">S</td><td rowspan="2">1.4</td><td class="rightcell">1.5</td><td class="rightcell">0.5</td><td class="spacer_col"></td><td align="center">1</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td>0M</td><td> </td><td>18</td><td></td><td class="rightcell">9M</td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class=""><td colspan="2"></td><td class="leftcell">Mike Mitsui</td><td class="rightcell">1.4</td><td class="rightcell">0.5</td><td class="spacer_col"></td><td align="center">3</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td> </td><td> </td><td>15</td><td></td><td class="rightcell">7M</td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Christopher Quinn</td><td rowspan="2"></td><td rowspan="2">2.2</td><td class="rightcell">1.8</td><td class="rightcell">0.6</td><td class="spacer_col"></td><td align="center">2</td><td>W</td><td>6</td><td> </td><td class="spacer_col"></td><td>0M</td><td> </td><td>18</td><td></td><td class="rightcell">11M</td><td class="spacer_col"></td><td> </td><td>1</td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Will Moore</td><td class="rightcell">2.6</td><td class="rightcell">0.9</td><td class="spacer_col"></td><td align="center">4</td><td>A</td><td> </td><td> </td><td class="spacer_col"></td><td> </td><td> </td><td>15</td><td></td><td class="rightcell">13M</td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="set-divider"><td colspan="7"></td><td class="spacer_col"></td><td colspan="4"></td><td class="spacer_col"></td><td colspan="5"></td><td class="spacer_col"></td><td colspan="3"></td></tr><tr class=""><td class="gameNum">3.1</td><td class="leftcell">301 DIDO</td><td class="leftcell">Pat Demarinis</td><td>S</td><td></td><td class="rightcell">45.1</td><td class="rightcell">15.0</td><td class="spacer_col"></td><td align="center">1</td><td>W</td><td>7</td><td class="rightcell">35</td><td class="spacer_col"></td><td>301</td><td> </td><td>20</td><td class="rightcell">301</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Michael Vonder Haar</td><td></td><td></td><td class="rightcell">43.5</td><td class="rightcell">14.5</td><td class="spacer_col"></td><td align="center">2</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td>301</td><td>40</td><td>18</td><td class="rightcell">261</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameLine"><td class="gameNum">3.2</td><td class="leftcell">301 DIDO</td><td class="leftcell">Pat Demarinis</td><td></td><td></td><td class="rightcell">23.1</td><td class="rightcell">7.7</td><td class="spacer_col"></td><td align="center">2</td><td>W</td><td>13</td><td class="rightcell">16</td><td class="spacer_col"></td><td>301</td><td> </td><td>39</td><td class="rightcell">301</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Michael Vonder Haar</td><td>S</td><td></td><td class="rightcell">22.4</td><td class="rightcell">7.5</td><td class="spacer_col"></td><td align="center">1</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td>301</td><td>10</td><td>39</td><td class="rightcell">291</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="set-divider"><td colspan="7"></td><td class="spacer_col"></td><td colspan="4"></td><td class="spacer_col"></td><td colspan="5"></td><td class="spacer_col"></td><td colspan="3"></td></tr><tr class=""><td class="gameNum">4.1</td><td class="leftcell">Cricket</td><td class="leftcell">Matt Kulowitch</td><td rowspan="2"></td><td rowspan="2">2.3</td><td class="rightcell">2.4</td><td class="rightcell">0.8</td><td class="spacer_col"></td><td align="center">2</td><td>W</td><td>7</td><td> </td><td class="spacer_col"></td><td>0M</td><td> </td><td>21</td><td></td><td class="rightcell">17M</td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class=""><td colspan="2"></td><td class="leftcell">Brad Benshop</td><td class="rightcell">2.2</td><td class="rightcell">0.7</td><td class="spacer_col"></td><td align="center">4</td><td>A</td><td> </td><td> </td><td class="spacer_col"></td><td> </td><td> </td><td>18</td><td></td><td class="rightcell">13M</td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Will Moore</td><td rowspan="2">C</td><td rowspan="2">2.1</td><td class="rightcell">3.0</td><td class="rightcell">1.0</td><td class="spacer_col"></td><td align="center">1</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td>0M</td><td> </td><td>21</td><td></td><td class="rightcell">21M</td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Scott Seisser</td><td class="rightcell">1.0</td><td class="rightcell">0.3</td><td class="spacer_col"></td><td align="center">3</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td> </td><td> </td><td>18</td><td></td><td class="rightcell">6M</td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameLine"><td class="gameNum">4.2</td><td class="leftcell">Cricket</td><td class="leftcell">Matt Kulowitch</td><td rowspan="2"></td><td rowspan="2">2.9</td><td class="rightcell">3.2</td><td class="rightcell">1.1</td><td class="spacer_col"></td><td align="center">2</td><td>W</td><td>6</td><td> </td><td class="spacer_col"></td><td>0M</td><td> </td><td>17</td><td></td><td class="rightcell">18M</td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class=""><td colspan="2"></td><td class="leftcell">Brad Benshop</td><td class="rightcell">2.6</td><td class="rightcell">0.9</td><td class="spacer_col"></td><td align="center">4</td><td>A</td><td> </td><td> </td><td class="spacer_col"></td><td> </td><td> </td><td>15</td><td></td><td class="rightcell">13M</td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Will Moore</td><td rowspan="2">S</td><td rowspan="2">1.4</td><td class="rightcell">1.5</td><td class="rightcell">0.5</td><td class="spacer_col"></td><td align="center">1</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td>0M</td><td> </td><td>18</td><td></td><td class="rightcell">9M</td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Scott Seisser</td><td class="rightcell">1.2</td><td class="rightcell">0.4</td><td class="spacer_col"></td><td align="center">3</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td> </td><td> </td><td>15</td><td></td><td class="rightcell">6M</td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="set-divider"><td colspan="7"></td><td class="spacer_col"></td><td colspan="4"></td><td class="spacer_col"></td><td colspan="5"></td><td class="spacer_col"></td><td colspan="3"></td></tr><tr class=""><td class="gameNum">5.1</td><td class="leftcell">501 SIDO</td><td class="leftcell">Mike Mitsui</td><td>S</td><td></td><td class="rightcell">39.7</td><td class="rightcell">13.2</td><td class="spacer_col"></td><td align="center">1</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td>501</td><td>64</td><td>33</td><td class="rightcell">437</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Christopher Quinn</td><td></td><td></td><td class="rightcell">48.5</td><td class="rightcell">16.2</td><td class="spacer_col"></td><td align="center">2</td><td>W</td><td>11</td><td class="rightcell">20</td><td class="spacer_col"></td><td>501</td><td> </td><td>31</td><td class="rightcell">501</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameLine"><td class="gameNum">5.2</td><td class="leftcell">301 DIDO</td><td class="leftcell">Mike Mitsui</td><td>S</td><td></td><td class="rightcell">28.5</td><td class="rightcell">9.5</td><td class="spacer_col"></td><td align="center">1</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td>301</td><td>16</td><td>30</td><td class="rightcell">285</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Christopher Quinn</td><td></td><td></td><td class="rightcell">31.1</td><td class="rightcell">10.4</td><td class="spacer_col"></td><td align="center">2</td><td>W</td><td>10</td><td class="rightcell">70</td><td class="spacer_col"></td><td>301</td><td> </td><td>29</td><td class="rightcell">301</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="set-divider"><td colspan="7"></td><td class="spacer_col"></td><td colspan="4"></td><td class="spacer_col"></td><td colspan="5"></td><td class="spacer_col"></td><td colspan="3"></td></tr><tr class=""><td class="gameNum">6.1</td><td class="leftcell">301 DIDO</td><td class="leftcell">Mike Mitsui</td><td rowspan="2"></td><td rowspan="2">33.4</td><td class="rightcell">37.8</td><td class="rightcell">12.6</td><td class="spacer_col"></td><td align="center">2</td><td>W</td><td>5</td><td class="rightcell">8</td><td class="spacer_col"></td><td>301</td><td> </td><td>15</td><td class="rightcell">189</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class=""><td colspan="2"></td><td class="leftcell">Pat Demarinis</td><td class="rightcell">28.0</td><td class="rightcell">9.3</td><td class="spacer_col"></td><td align="center">4</td><td>A</td><td> </td><td> </td><td class="spacer_col"></td><td> </td><td> </td><td>12</td><td class="rightcell">112</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Will Moore</td><td rowspan="2">C</td><td rowspan="2">31.2</td><td class="rightcell">35.4</td><td class="rightcell">11.8</td><td class="spacer_col"></td><td align="center">1</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td>301</td><td>20</td><td>15</td><td class="rightcell">177</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Aaron Steingold</td><td class="rightcell">26.0</td><td class="rightcell">8.7</td><td class="spacer_col"></td><td align="center">3</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td> </td><td> </td><td>12</td><td class="rightcell">104</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameLine"><td class="gameNum">6.2</td><td class="leftcell">301 DIDO</td><td class="leftcell">Mike Mitsui</td><td rowspan="2"></td><td rowspan="2">42.0</td><td class="rightcell">16.3</td><td class="rightcell">5.4</td><td class="spacer_col"></td><td align="center">2</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td>301</td><td>49</td><td>9</td><td class="rightcell">49</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class=""><td colspan="2"></td><td class="leftcell">Pat Demarinis</td><td class="rightcell">67.7</td><td class="rightcell">22.6</td><td class="spacer_col"></td><td align="center">4</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td> </td><td> </td><td>9</td><td class="rightcell">203</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Will Moore</td><td rowspan="2">S</td><td rowspan="2">47.5</td><td class="rightcell">60.9</td><td class="rightcell">20.3</td><td class="spacer_col"></td><td align="center">1</td><td>W</td><td>4</td><td class="rightcell">16</td><td class="spacer_col"></td><td>301</td><td> </td><td>10</td><td class="rightcell">203</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Aaron Steingold</td><td class="rightcell">32.7</td><td class="rightcell">10.9</td><td class="spacer_col"></td><td align="center">3</td><td>A</td><td> </td><td> </td><td class="spacer_col"></td><td> </td><td> </td><td>9</td><td class="rightcell">98</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameLine"><td class="gameNum">6.3</td><td class="leftcell">301 DIDO</td><td class="leftcell">Pat Demarinis</td><td rowspan="2">C</td><td rowspan="2">29.1</td><td class="rightcell">20.4</td><td class="rightcell">6.8</td><td class="spacer_col"></td><td align="center">1</td><td>W</td><td>6</td><td class="rightcell">8</td><td class="spacer_col"></td><td>301</td><td> </td><td>16</td><td class="rightcell">109</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class=""><td colspan="2"></td><td class="leftcell">Mike Mitsui</td><td class="rightcell">38.4</td><td class="rightcell">12.8</td><td class="spacer_col"></td><td align="center">3</td><td>A</td><td> </td><td> </td><td class="spacer_col"></td><td> </td><td> </td><td>15</td><td class="rightcell">192</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Will Moore</td><td rowspan="2"></td><td rowspan="2">29.3</td><td class="rightcell">31.8</td><td class="rightcell">10.6</td><td class="spacer_col"></td><td align="center">2</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td>301</td><td>8</td><td>15</td><td class="rightcell">159</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Aaron Steingold</td><td class="rightcell">26.8</td><td class="rightcell">8.9</td><td class="spacer_col"></td><td align="center">4</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td> </td><td> </td><td>15</td><td class="rightcell">134</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="set-divider"><td colspan="7"></td><td class="spacer_col"></td><td colspan="4"></td><td class="spacer_col"></td><td colspan="5"></td><td class="spacer_col"></td><td colspan="3"></td></tr><tr class=""><td class="gameNum">7.1</td><td class="leftcell">301 DIDO</td><td class="leftcell">Brad Benshop</td><td rowspan="2">S</td><td rowspan="2">35.1</td><td class="rightcell">52.0</td><td class="rightcell">17.3</td><td class="spacer_col"></td><td align="center">1</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td>301</td><td>20</td><td>12</td><td class="rightcell">208</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class=""><td colspan="2"></td><td class="leftcell">Mike Mitsui</td><td class="rightcell">18.3</td><td class="rightcell">6.1</td><td class="spacer_col"></td><td align="center">3</td><td> </td><td> </td><td> </td><td class="spacer_col"></td><td> </td><td> </td><td>12</td><td class="rightcell">73</td><td></td><td class="spacer_col"></td><td> </td><td> </td><td> </td></tr><tr class="gameDetailSetAlt"><td colspan="2"></td><td class="leftcell">Scott Seisser</td><td rowspan="2"></td><td rowspan="2">39.3</td><td class="rightcell">18.0</td><td class="rightcell">6.0</td><td class="spacer_col"></td><td align="center">2</td><td>A</td><td> </td><td> </td><td class="spacer_col"></td><td>301</td><td> </td><td>12</td><td class="rightcell">72</td><td></td><td class="spacer_col"></td><td> </td

In [9]:
#Break table into rows
rows = [row for row in game_pp.find_all('tr')]

In [10]:
#Identify the column names row
header = rows[1]
header

<tr><th> </th><th>Game</th><th>Player</th><th>C</th><th>P-3DA</th><th>3DA</th><th>PPD</th><td>&amp;nbsp</td><th>T</th><th>WA</th><th>RD</th><th>CO</th><td>&amp;nbsp</td><th>SS</th><th>PR</th><th>DT</th><th>PTS</th><th>MKS</th><td>&amp;nbsp</td><th>180</th><th>HT</th><th>9M</th></tr>

In [11]:
#Evaluate column names
headlist = header.find_all('th')
headlist

[<th> </th>,
 <th>Game</th>,
 <th>Player</th>,
 <th>C</th>,
 <th>P-3DA</th>,
 <th>3DA</th>,
 <th>PPD</th>,
 <th>T</th>,
 <th>WA</th>,
 <th>RD</th>,
 <th>CO</th>,
 <th>SS</th>,
 <th>PR</th>,
 <th>DT</th>,
 <th>PTS</th>,
 <th>MKS</th>,
 <th>180</th>,
 <th>HT</th>,
 <th>9M</th>]

In [12]:
#Check type for headers
type(headlist[1])

bs4.element.Tag

In [13]:
#Check text content
headlist[1].text

'Game'

In [14]:
#Check type
type(headlist[1].text)

str

In [15]:
#Make list of headers
hdr = []
for i in headlist:
    hdr.append(i.text)

In [16]:
#Add label for first column
hdr[0] = "Game Code"

In [17]:
#Convert headers to a dataframe
hdr = pd.DataFrame(hdr)

In [18]:
#Check dataframe
hdr

            0
0   Game Code
1        Game
2      Player
3           C
4       P-3DA
5         3DA
6         PPD
7           T
8          WA
9          RD
10         CO
11         SS
12         PR
13         DT
14        PTS
15        MKS
16        180
17         HT
18         9M

In [19]:
#Make function to convert html rows to leg sets
def leggify(x):
    gmst = []
    for i in x:
        if (i.text == '') or (i.text == '\xa0'):
            gmst.append(0)
        else:
            gmst.append(i.get_text())
    return gmst

In [34]:
leggify(rows[2])

['1.1',
 '501 SIDO',
 'Brad Benshop',
 'S',
 0,
 '50.1',
 '16.7',
 0,
 '1',
 'W',
 '10',
 '20',
 0,
 '501',
 0,
 '30',
 '501',
 0,
 0,
 0,
 0,
 0]

In [40]:
#Create a set of leg sets
all_legs = []
for row in rows[2:]:
    rowset = row.find_all('td')
    pleg = [leggify(rowset)]
    all_legs.append(pleg)

In [41]:
all_legs

[[['1.1',
   '501 SIDO',
   'Brad Benshop',
   'S',
   0,
   '50.1',
   '16.7',
   0,
   '1',
   'W',
   '10',
   '20',
   0,
   '501',
   0,
   '30',
   '501',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Aaron Steingold',
   0,
   0,
   '47.6',
   '15.9',
   0,
   '2',
   0,
   0,
   0,
   0,
   '501',
   '73',
   '27',
   '428',
   0,
   0,
   0,
   0,
   0]],
 [['1.2',
   '501 SIDO',
   'Brad Benshop',
   0,
   0,
   '51.8',
   '17.3',
   0,
   '2',
   'W',
   '10',
   '54',
   0,
   '501',
   0,
   '29',
   '501',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Aaron Steingold',
   'S',
   0,
   '40.8',
   '13.6',
   0,
   '1',
   0,
   0,
   0,
   0,
   '501',
   '93',
   '30',
   '408',
   0,
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['2.1',
   '301 DIDO',
   'Matt Kulowitch',
   0,
   '28.6',
   '46.7',
   '15.6',
   0,
   '2',
   0,
   0,
   0,
   0,
   '301',
   '158',
   '9',
   '140',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Mike Mitsui',
   '1.5',
   '0.5',
   0,
   '4',
   0,
   0,
   0,
   0,
   0,
   0,
   '6',
   '3',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Christopher Quinn',
   'C',
   '50.2',
   '29.0',
   '9.7',
   0,
   '1',
   'A',
   0,
   0,
   0,
   '301',
   0,
   '9',
   '87',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Will Moore',
   '71.3',
   '23.8',
   0,
   '3',
   'W',
   '3',
   '32',
   0,
   0,
   0,
   '9',
   '214',
   0,
   0,
   0,
   0,
   0]],
 [['2.2',
   'Cricket',
   'Matt Kulowitch',
   'S',
   '1.4',
   '1.5',
   '0.5',
   0,
   '1',
   0,
   0,
   0,
   0,
   '0M',
   0,
   '18',
   0,
   '9M',
   0,
   0,
   0,
   0]],
 [[0,
   'Mike Mitsui',
   '1.4',
   '0.5',
   0,
   '3',
   0,
   0,
   0,
   0,
   0,
   0,
   '15',
   0,
   '7M',
   0,
   0,
   0,
   0]],
 [[0,
   'Christopher Quinn',
   0,
   '2.2',
   '1.8',
   '0.6',
   0,
   '2',
   'W',
   '6',
   0,
   0,
   '0M',
   0,
   '18',
   0,
   '11M',
   0,
   0,
   '1',
   0]],
 [[0,
   'Will Moore',
   '2.6',
   '0.9',
   0,
   '4',
   'A',
   0,
   0,
   0,
   0,
   0,
   '15',
   0,
   '13M',
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['3.1',
   '301 DIDO',
   'Pat Demarinis',
   'S',
   0,
   '45.1',
   '15.0',
   0,
   '1',
   'W',
   '7',
   '35',
   0,
   '301',
   0,
   '20',
   '301',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Michael Vonder Haar',
   0,
   0,
   '43.5',
   '14.5',
   0,
   '2',
   0,
   0,
   0,
   0,
   '301',
   '40',
   '18',
   '261',
   0,
   0,
   0,
   0,
   0]],
 [['3.2',
   '301 DIDO',
   'Pat Demarinis',
   0,
   0,
   '23.1',
   '7.7',
   0,
   '2',
   'W',
   '13',
   '16',
   0,
   '301',
   0,
   '39',
   '301',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Michael Vonder Haar',
   'S',
   0,
   '22.4',
   '7.5',
   0,
   '1',
   0,
   0,
   0,
   0,
   '301',
   '10',
   '39',
   '291',
   0,
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['4.1',
   'Cricket',
   'Matt Kulowitch',
   0,
   '2.3',
   '2.4',
   '0.8',
   0,
   '2',
   'W',
   '7',
   0,
   0,
   '0M',
   0,
   '21',
   0,
   '17M',
   0,
   0,
   0,
   0]],
 [[0,
   'Brad Benshop',
   '2.2',
   '0.7',
   0,
   '4',
   'A',
   0,
   0,
   0,
   0,
   0,
   '18',
   0,
   '13M',
   0,
   0,
   0,
   0]],
 [[0,
   'Will Moore',
   'C',
   '2.1',
   '3.0',
   '1.0',
   0,
   '1',
   0,
   0,
   0,
   0,
   '0M',
   0,
   '21',
   0,
   '21M',
   0,
   0,
   0,
   0]],
 [[0,
   'Scott Seisser',
   '1.0',
   '0.3',
   0,
   '3',
   0,
   0,
   0,
   0,
   0,
   0,
   '18',
   0,
   '6M',
   0,
   0,
   0,
   0]],
 [['4.2',
   'Cricket',
   'Matt Kulowitch',
   0,
   '2.9',
   '3.2',
   '1.1',
   0,
   '2',
   'W',
   '6',
   0,
   0,
   '0M',
   0,
   '17',
   0,
   '18M',
   0,
   0,
   0,
   0]],
 [[0,
   'Brad Benshop',
   '2.6',
   '0.9',
   0,
   '4',
   'A',
   0,
   0,
   0,
   0,
   0,
   '15',
   0,
   '13M',
   0,
   0,
   0,
   0]],
 [[0,
   'Will Moore',
   'S',
   '1.4',
   '1.5',
   '0.5',
   0,
   '1',
   0,
   0,
   0,
   0,
   '0M',
   0,
   '18',
   0,
   '9M',
   0,
   0,
   0,
   0]],
 [[0,
   'Scott Seisser',
   '1.2',
   '0.4',
   0,
   '3',
   0,
   0,
   0,
   0,
   0,
   0,
   '15',
   0,
   '6M',
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['5.1',
   '501 SIDO',
   'Mike Mitsui',
   'S',
   0,
   '39.7',
   '13.2',
   0,
   '1',
   0,
   0,
   0,
   0,
   '501',
   '64',
   '33',
   '437',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Christopher Quinn',
   0,
   0,
   '48.5',
   '16.2',
   0,
   '2',
   'W',
   '11',
   '20',
   0,
   '501',
   0,
   '31',
   '501',
   0,
   0,
   0,
   0,
   0]],
 [['5.2',
   '301 DIDO',
   'Mike Mitsui',
   'S',
   0,
   '28.5',
   '9.5',
   0,
   '1',
   0,
   0,
   0,
   0,
   '301',
   '16',
   '30',
   '285',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Christopher Quinn',
   0,
   0,
   '31.1',
   '10.4',
   0,
   '2',
   'W',
   '10',
   '70',
   0,
   '301',
   0,
   '29',
   '301',
   0,
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['6.1',
   '301 DIDO',
   'Mike Mitsui',
   0,
   '33.4',
   '37.8',
   '12.6',
   0,
   '2',
   'W',
   '5',
   '8',
   0,
   '301',
   0,
   '15',
   '189',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Pat Demarinis',
   '28.0',
   '9.3',
   0,
   '4',
   'A',
   0,
   0,
   0,
   0,
   0,
   '12',
   '112',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Will Moore',
   'C',
   '31.2',
   '35.4',
   '11.8',
   0,
   '1',
   0,
   0,
   0,
   0,
   '301',
   '20',
   '15',
   '177',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Aaron Steingold',
   '26.0',
   '8.7',
   0,
   '3',
   0,
   0,
   0,
   0,
   0,
   0,
   '12',
   '104',
   0,
   0,
   0,
   0,
   0]],
 [['6.2',
   '301 DIDO',
   'Mike Mitsui',
   0,
   '42.0',
   '16.3',
   '5.4',
   0,
   '2',
   0,
   0,
   0,
   0,
   '301',
   '49',
   '9',
   '49',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Pat Demarinis',
   '67.7',
   '22.6',
   0,
   '4',
   0,
   0,
   0,
   0,
   0,
   0,
   '9',
   '203',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Will Moore',
   'S',
   '47.5',
   '60.9',
   '20.3',
   0,
   '1',
   'W',
   '4',
   '16',
   0,
   '301',
   0,
   '10',
   '203',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Aaron Steingold',
   '32.7',
   '10.9',
   0,
   '3',
   'A',
   0,
   0,
   0,
   0,
   0,
   '9',
   '98',
   0,
   0,
   0,
   0,
   0]],
 [['6.3',
   '301 DIDO',
   'Pat Demarinis',
   'C',
   '29.1',
   '20.4',
   '6.8',
   0,
   '1',
   'W',
   '6',
   '8',
   0,
   '301',
   0,
   '16',
   '109',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Mike Mitsui',
   '38.4',
   '12.8',
   0,
   '3',
   'A',
   0,
   0,
   0,
   0,
   0,
   '15',
   '192',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Will Moore',
   0,
   '29.3',
   '31.8',
   '10.6',
   0,
   '2',
   0,
   0,
   0,
   0,
   '301',
   '8',
   '15',
   '159',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Aaron Steingold',
   '26.8',
   '8.9',
   0,
   '4',
   0,
   0,
   0,
   0,
   0,
   0,
   '15',
   '134',
   0,
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['7.1',
   '301 DIDO',
   'Brad Benshop',
   'S',
   '35.1',
   '52.0',
   '17.3',
   0,
   '1',
   0,
   0,
   0,
   0,
   '301',
   '20',
   '12',
   '208',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Mike Mitsui',
   '18.3',
   '6.1',
   0,
   '3',
   0,
   0,
   0,
   0,
   0,
   0,
   '12',
   '73',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Scott Seisser',
   0,
   '39.3',
   '18.0',
   '6.0',
   0,
   '2',
   'A',
   0,
   0,
   0,
   '301',
   0,
   '12',
   '72',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Christopher Quinn',
   '62.5',
   '20.8',
   0,
   '4',
   'W',
   '4',
   '16',
   0,
   0,
   0,
   '11',
   '229',
   0,
   0,
   0,
   0,
   0]],
 [['7.2',
   '301 DIDO',
   'Brad Benshop',
   'S',
   '42.2',
   '38.3',
   '12.8',
   0,
   '1',
   0,
   0,
   0,
   0,
   '301',
   '90',
   '9',
   '115',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Mike Mitsui',
   '48.0',
   '16.0',
   0,
   '3',
   0,
   0,
   0,
   0,
   0,
   0,
   '6',
   '96',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Christopher Quinn',
   0,
   '64.5',
   '52.5',
   '17.5',
   0,
   '2',
   'W',
   '3',
   '40',
   0,
   '301',
   0,
   '8',
   '140',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Scott Seisser',
   '80.5',
   '26.8',
   0,
   '4',
   'A',
   0,
   0,
   0,
   0,
   0,
   '6',
   '161',
   0,
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['8.1',
   'Cricket',
   'Matt Kulowitch',
   0,
   0,
   '2.1',
   '0.7',
   0,
   '2',
   0,
   0,
   0,
   0,
   '0M',
   0,
   '39',
   0,
   '27M',
   0,
   0,
   0,
   0]],
 [[0,
   'Will Moore',
   'C',
   0,
   '2.2',
   '0.7',
   0,
   '1',
   'W',
   '14',
   0,
   0,
   '0M',
   0,
   '42',
   0,
   '31M',
   0,
   0,
   0,
   0]],
 [['8.2',
   'Cricket',
   'Matt Kulowitch',
   'S',
   0,
   '2.2',
   '0.7',
   0,
   '1',
   0,
   0,
   0,
   0,
   '0M',
   0,
   '33',
   0,
   '24M',
   0,
   0,
   0,
   0]],
 [[0,
   'Will Moore',
   0,
   0,
   '2.7',
   '0.9',
   0,
   '2',
   'W',
   '11',
   0,
   0,
   '0M',
   0,
   '31',
   0,
   '28M',
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['9.1',
   '501 SIDO',
   'Matt Kulowitch',
   'S',
   '55.7',
   '65.4',
   '21.8',
   0,
   '1',
   'W',
   '5',
   '57',
   0,
   '501',
   0,
   '15',
   '327',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Pat Demarinis',
   '43.5',
   '14.5',
   0,
   '3',
   'A',
   0,
   0,
   0,
   0,
   0,
   '12',
   '174',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Christopher Quinn',
   0,
   '60.6',
   '63.8',
   '21.3',
   0,
   '2',
   0,
   0,
   0,
   0,
   '501',
   '16',
   '12',
   '255',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Michael Vonder Haar',
   '57.5',
   '19.2',
   0,
   '4',
   0,
   0,
   0,
   0,
   0,
   0,
   '12',
   '230',
   0,
   0,
   0,
   0,
   0]],
 [['9.2',
   '501 SIDO',
   'Matt Kulowitch',
   0,
   '56.5',
   '65.3',
   '21.8',
   0,
   '2',
   0,
   0,
   0,
   0,
   '501',
   '162',
   '9',
   '196',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Pat Demarinis',
   '47.7',
   '15.9',
   0,
   '4',
   0,
   0,
   0,
   0,
   0,
   0,
   '9',
   '143',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Christopher Quinn',
   'S',
   '71.6',
   '65.5',
   '21.8',
   0,
   '1',
   'W',
   '4',
   '60',
   0,
   '501',
   0,
   '12',
   '262',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Michael Vonder Haar',
   '79.7',
   '26.6',
   0,
   '3',
   'A',
   0,
   0,
   0,
   0,
   0,
   '9',
   '239',
   0,
   0,
   0,
   0,
   0]],
 [['9.3',
   '501 SIDO',
   'Matt Kulowitch',
   0,
   '37.5',
   '37.2',
   '12.4',
   0,
   '2',
   0,
   0,
   0,
   0,
   '501',
   '126',
   '15',
   '186',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Pat Demarinis',
   '37.8',
   '12.6',
   0,
   '4',
   0,
   0,
   0,
   0,
   0,
   0,
   '15',
   '189',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Christopher Quinn',
   'C',
   '47.0',
   '52.6',
   '17.5',
   0,
   '1',
   'W',
   '6',
   '16',
   0,
   '501',
   0,
   '17',
   '298',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Michael Vonder Haar',
   '40.6',
   '13.5',
   0,
   '3',
   'A',
   0,
   0,
   0,
   0,
   0,
   '15',
   '203',
   0,
   0,
   0,
   0,
   0]]]

In [77]:
all_legs[0][0][5]

'50.1'

In [78]:
all_legs[1][0][4]

'47.6'

In [ ]:
#Remove rows with no player, they are separator rows.

In [65]:
def PName(matches):
    for leg in matches:
        if leg[0][0] == 0:
            print(leg[0][1])
        else:
            print(leg[0][2])

In [73]:
def LegCode(matches):
    for leg in matches:
        if leg[0][0] != 0:
            thisleg = leg[0][0]
            print(leg[0][0])
        else:
            print(thisleg)

In [75]:
def Game(matches):
    for leg in matches:
        if leg[0][0] != 0:
            thisgame = leg[0][1]
            print(leg[0][1])
        else:
            print(thisgame)

In [81]:
def P3DA(matches):
    for leg in matches:
        if leg[0][0] != 0:
            print(leg[0][5])
        elif (leg[0][0] == 0) & (leg[0][4] == 0):
            print(leg[0][2])
        else:
            print(leg[0][4])

In [82]:
P3DA(all_legs)

50.1
47.6
51.8
40.8
0
46.7
1.5
29.0
71.3
1.5
1.4
1.8
2.6
0
45.1
43.5
23.1
22.4
0
2.4
2.2
3.0
1.0
3.2
2.6
1.5
1.2
0
39.7
48.5
28.5
31.1
0
37.8
28.0
35.4
26.0
16.3
67.7
60.9
32.7
20.4
38.4
31.8
26.8
0
52.0
18.3
18.0
62.5
38.3
48.0
52.5
80.5
0
2.1
2.2
2.2
2.7
0
65.4
43.5
63.8
57.5
65.3
47.7
65.5
79.7
37.2
37.8
52.6
40.6

In [39]:
for pleg in all_legs:
    if (pleg[0][0] != 0):
        gmind = pleg[0][0]
        gmtyp = pleg[0][1]
    else:
        pleg[0] = [gmind] + [gmtyp]

In [29]:
all_legs[1]

[['1.1', '501 SIDO']]

In [30]:
#Concatenate legs
labelo = pd.DataFrame()
for leg in all_legs:
    leg = pd.DataFrame(leg)
    labelo = pd.concat([labelo,leg])
labelo.head(20)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,1.1,501 SIDO,Brad Benshop,S,0,50.1,16.7,0.0,1,W,...,0.0,501,0,30,501,0,0.0,0.0,0.0,0.0
0,1.1,501 SIDO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1.2,501 SIDO,Brad Benshop,0,0,51.8,17.3,0.0,2,W,...,0.0,501,0,29,501,0,0.0,0.0,0.0,0.0
0,1.2,501 SIDO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,1.2,501 SIDO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2.1,301 DIDO,Matt Kulowitch,0,28.6,46.7,15.6,0.0,2,0,...,0.0,301,158,9,140,0,0.0,0.0,0.0,0.0
0,2.1,301 DIDO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2.1,301 DIDO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2.1,301 DIDO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2.2,Cricket,Matt Kulowitch,S,1.4,1.5,0.5,0.0,1,0,...,0.0,0M,0,18,0,9M,0.0,0.0,0.0,0.0
0,2.2,Cricket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2.2,Cricket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2.2,Cricket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2.2,Cricket,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,3.1,301 DIDO,Pat Demarinis,S,0,45.1,15.0,0.0,1,W,...,0.0,301,0,20,301,0,0.0,0.0,0.0,0.0
0,3.1,301 DIDO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,3.2,301 DIDO,Pat Demarinis,0,0,23.1,7.7,0.0,2,W,...,0.0,301,0,39,301,0,0.0,0.0,0.0,0.0
0,3.2,301 DIDO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,3.2,301 DIDO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,4.1,Cricket,Matt Kulowitch,0,2.3,2.4,0.8,0.0,2,W,...,0.0,0M,0,21,0,17M,0.0,0.0,0.0,0.0

In [ ]:
all_legs

In [ ]:
altcntr = 0
for row in rows:
    if row.find(class_="set-divider"):
        altcntr += 1
        print(row.text)
        print("BREAK!")
altcntr

In [ ]:
row.get_attribute_list('tr')