In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [8]:
url = 'https://members.dartconnect.com/history/report/players/match/5e1d25874a6ca334944c8c43'

response = requests.get(url)

In [9]:
page = response.text

In [10]:
soup = BeautifulSoup(page, "lxml")

In [11]:
soup.prettify()

'<!DOCTYPE html>\n<html>\n <head>\n  <title>\n   PP: 8c43\n  </title>\n  <link href="/images/favicon.png" rel="shortcut icon"/>\n  <link href="/css/reports.css" rel="stylesheet"/>\n </head>\n <body>\n  <!-- Google Tag Manager -->\n  <noscript>\n   <iframe height="0" src="//www.googletagmanager.com/ns.html?id=GTM-5RV476" style="display:none;visibility:hidden" width="0">\n   </iframe>\n  </noscript>\n  <script>\n   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({\'gtm.start\':new Date().getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!=\'dataLayer\'?\'&l=\'+l:\'\';j.async=true;j.src=\'//www.googletagmanager.com/gtm.js?id=\'+i+dl;f.parentNode.insertBefore(j,f);})(window,document,\'script\',\'dataLayer\',\'GTM-5RV476\');\n  </script>\n  <!-- End Google Tag Manager -->\n  <div class="report-container">\n   <div class="report-header">\n    <table border="0" class="freeTable" width="800">\n     <tr>\n      <td align="center" width="140">\n       <a href="https://tv.dartconnect.com/leaguematches/wcdo">\n        <img height="100" src="/images/dctv_icon.png" width="100"/>\n       </a>\n       <br/>\n       <a class="smallHeaderLink" href="https://tv.dartconnect.com/leaguematches/wcdo">\n        More Darts!\n       </a>\n      </td>\n      <td align="center" width="520">\n       <h1 class="match-title">\n        Player Performance\n       </h1>\n       <a href="https://leaderboard.dartconnect.com/leaderboard#l-u46t_1363_all-all_01-all-all-all-all-all">\n        View Leaderboard\n       </a>\n       <br/>\n       <a href="https://tv.dartconnect.com/leaguestandings/wcdo/1363/6266">\n        View Division Standings\n       </a>\n      </td>\n      <td align="center" width="140">\n       <a class="subtle-link" href="https://www.dartconnect.com" target="wwwdartconnect">\n        <img id="dc_member_logo" src="/images/dc_member_logo.png"/>\n       </a>\n       <br/>\n       <a class="smallHeaderLink" href="https://www.dartconnect.com" target="blank">\n        Learn More\n       </a>\n      </td>\n     </tr>\n    </table>\n    <table border="0" class="freeTable matchHeaderStats" width="800">\n     <tr>\n      <td align="center" colspan="9">\n       <h2>\n        WCDO â€¢ Windy City Darters - Open\n       </h2>\n      </td>\n     </tr>\n     <tr>\n      <th align="left" class="leftCellPad">\n       Date:\n      </th>\n      <td align="right">\n       Mon, 1-13-20\n      </td>\n      <td class="paddedCell">\n      </td>\n      <th align="left">\n       Game Time:\n      </th>\n      <td align="right">\n       2:32\n      </td>\n      <td class="paddedCell">\n      </td>\n      <th align="left">\n       Matches:\n      </th>\n      <td align="right">\n       1\n      </td>\n      <td class="paddedCell">\n      </td>\n     </tr>\n     <tr>\n      <th align="left" class="leftCellPad">\n       Start:\n      </th>\n      <td align="right">\n       8:12 PM\n      </td>\n      <td class="paddedCell">\n      </td>\n      <th align="left">\n       Match Length:\n      </th>\n      <td align="right">\n       3:21\n      </td>\n      <td class="paddedCell">\n      </td>\n      <th align="left">\n       Games:\n      </th>\n      <td align="right">\n       23\n      </td>\n      <td class="paddedCell">\n      </td>\n     </tr>\n     <tr>\n      <th align="left" class="leftCellPad">\n       End:\n      </th>\n      <td align="right">\n       11:33 PM\n      </td>\n      <td class="paddedCell">\n      </td>\n      <th align="left">\n       DER:\n      </th>\n      <td align="right">\n       76%\n      </td>\n      <td class="paddedCell">\n      </td>\n      <th align="left">\n       Darts:\n      </th>\n      <td align="right">\n       1,570\n      </td>\n      <td class="paddedCell">\n      </td>\n     </tr>\n    </table>\n   </div>\n   <div class="navrow-container">\n    <table border="0" width="100%">\n     <tr>\n      <td align="right" style="font-style: italic;">\n       Select Report:\n      </td>\n      <td align="center">\n       <a href="/history/report/match/5e1d25874a6ca334944c8c43">\n        Summary\xa0&gt;\n       </a>\n      </td>\n      <td align="center">\n       <a href="/history/report/games/match/5e1d25874a6ca334944c8c43">\n        Game Detail\xa0&gt;\n       </a>\n      </td>\n      <td align="center">\n       <h2>\n        Player Performance\n       </h2>\n      </td>\n      <td align="center">\n       <a href="/history/report/counts/match/5e1d25874a6ca334944c8c43">\n        Match Counts\xa0&gt;\n       </a>\n      </td>\n      <td align="center">\n       <a href="/#dashboard" target="membersite">\n        My DCA\xa0&gt;\n       </a>\n      </td>\n     </tr>\n    </table>\n   </div>\n   <div class="accomplishements-container">\n    <table border="0" class="freeTable game-summary-data sectionGuideTable" width="800">\n     <tr>\n      <td valign="top">\n       <table border="0" width="360">\n        <tr>\n         <td class="accomp-header" colspan="3">\n          \'01 Leaders\n         </td>\n        </tr>\n        <tr>\n         <td class="accomp_stats">\n          High Turn\n         </td>\n         <td class="accomp_statsRight">\n          140\n         </td>\n         <td class="accomp_stats">\n          Sean Ryan x 2\n         </td>\n        </tr>\n        <tr>\n         <td class="accomp_stats">\n          High DO\n         </td>\n         <td class="accomp_statsRight">\n          98\n         </td>\n         <td class="accomp_stats">\n          Dustin Scholtes\n         </td>\n        </tr>\n        <tr>\n         <td class="accomp_stats">\n          High DI\n         </td>\n         <td class="accomp_statsRight">\n          80\n         </td>\n         <td class="accomp_stats">\n          Chuck Haisler\n          <br/>\n          Joe Pena\n         </td>\n        </tr>\n       </table>\n      </td>\n      <td width="80">\n       &amp;nbsp\n      </td>\n      <td valign="top">\n       <table border="0" width="360">\n        <tr>\n         <td class="accomp-header" colspan="3">\n          High Points Per Round\n         </td>\n        </tr>\n        <tr>\n         <td class="accomp_stats">\n          High PPR (S)\n         </td>\n         <td class="accomp_statsRight">\n          75.2\n         </td>\n         <td class="accomp_stats">\n          Dustin Scholtes\n         </td>\n        </tr>\n        <tr>\n         <td class="accomp_stats">\n          High PPR (D)\n         </td>\n         <td class="accomp_statsRight">\n          47.5\n         </td>\n         <td class="accomp_stats">\n          Chuck Haisler\n          <br/>\n          Kevin Lally\n         </td>\n        </tr>\n       </table>\n      </td>\n     </tr>\n     <tr>\n      <td colspan="2">\n      </td>\n     </tr>\n     <tr>\n      <td>\n       <table border="0" width="360">\n        <tr>\n         <td class="accomp-header" colspan="3">\n          Cricket Leaders\n         </td>\n        </tr>\n        <tr>\n         <td class="accomp_stats">\n          High Turn\n         </td>\n         <td class="accomp_statsRight">\n          7M\n         </td>\n         <td class="accomp_stats">\n          Samuel  Casiano\n         </td>\n        </tr>\n        <tr>\n         <td class="accomp_stats">\n          Bulls\n         </td>\n         <td class="accomp_statsRight">\n          19\n         </td>\n         <td class="accomp_stats">\n          Chuck Haisler\n         </td>\n        </tr>\n        <tr>\n         <td class="accomp_stats">\n          Triples\n         </td>\n         <td class="accomp_statsRight">\n          11\n         </td>\n         <td class="accomp_stats">\n          Samuel  Casiano\n         </td>\n        </tr>\n       </table>\n      </td>\n      <td width="80">\n       &amp;nbsp\n      </td>\n      <td valign="top">\n       <table border="0" width="360">\n        <tr>\n         <td class="accomp-header" colspan="3">\n          High Marks Per Round\n         </td>\n        </tr>\n        <tr>\n         <td class="accomp_stats">\n          High MPR (S)\n         </td>\n         <td class="accomp_statsRight">\n          2.56\n         </td>\n         <td class="accomp_stats">\n          Patrick O\'Krongley Jr\n         </td>\n        </tr>\n        <tr>\n         <td class="accomp_stats">\n          High MPR (D)\n         </td>\n         <td class="accomp_statsRight">\n          2.17\n         </td>\n         <td class="accomp_stats">\n          Chuck Haisler\n          <br/>\n          Kevin Lally\n         </td>\n        </tr>\n       </table>\n      </td>\n     </tr>\n    </table>\n   </div>\n   <div class="match-summary">\n    <table class="borderTable" width="100%">\n     <tr>\n      <td class="match_summary_header" width="155">\n       Players\n      </td>\n      <td width="1">\n      </td>\n      <td class="match_summary_header" colspan="3">\n       Match\n      </td>\n      <td width="1">\n      </td>\n      <td class="match_summary_header" colspan="3">\n       All \'01 Games\n      </td>\n      <td width="1">\n      </td>\n      <td class="match_summary_header" colspan="3">\n       All Cricket Games\n      </td>\n     </tr>\n     <tr>\n      <td class="match_summary_header">\n      </td>\n      <td>\n      </td>\n      <td class="match_summary_header">\n       Games\n      </td>\n      <td class="match_summary_header">\n       Wins\n      </td>\n      <td class="match_summary_header">\n       Win %\n      </td>\n      <td>\n      </td>\n      <td class="match_summary_header">\n       Points\n      </td>\n      <td class="match_summary_header">\n       Darts\n      </td>\n      <td class="match_summary_header">\n       PPR\n      </td>\n      <td>\n      </td>\n      <td class="match_summary_header">\n       Marks\n      </td>\n      <td class="match_summary_header">\n       Darts\n      </td>\n      <td class="match_summary_header">\n       MPR\n      </td>\n     </tr>\n     <tr>\n      <td align="left">\n       <span class="playerPerfName">\n        <a href="https://leaderboard.dartconnect.com/showcard.html#Casiano-33.1-1.7" target="5e1d25874a6ca334944c8c43-Casiano-Samuel ">\n         Casiano, Samuel\n        </a>\n       </span>\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       10\n      </td>\n      <td class="data">\n       2\n      </td>\n      <td class="data">\n       20%\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       696\n      </td>\n      <td class="data">\n       63\n      </td>\n      <td class="data">\n       33.1\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       111\n      </td>\n      <td class="data">\n       192\n      </td>\n      <td class="data">\n       1.7\n      </td>\n     </tr>\n     <tr>\n      <td align="left">\n       <span class="playerPerfName">\n        <a href="https://leaderboard.dartconnect.com/showcard.html#Haisler-50.2-1.9" target="5e1d25874a6ca334944c8c43-Haisler-Chuck">\n         Haisler, Chuck\n        </a>\n       </span>\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       8\n      </td>\n      <td class="data">\n       6\n      </td>\n      <td class="data">\n       75%\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       418\n      </td>\n      <td class="data">\n       25\n      </td>\n      <td class="data">\n       50.2\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       123\n      </td>\n      <td class="data">\n       197\n      </td>\n      <td class="data">\n       1.9\n      </td>\n     </tr>\n     <tr class="playerDivider">\n      <td align="left">\n       <span class="playerPerfName">\n        <a href="https://leaderboard.dartconnect.com/showcard.html#Lally-42.7-1.6" target="5e1d25874a6ca334944c8c43-Lally-Kevin">\n         Lally, Kevin\n        </a>\n       </span>\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       7\n      </td>\n      <td class="data">\n       6\n      </td>\n      <td class="data">\n       86%\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       1,253\n      </td>\n      <td class="data">\n       88\n      </td>\n      <td class="data">\n       42.7\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       11\n      </td>\n      <td class="data">\n       21\n      </td>\n      <td class="data">\n       1.6\n      </td>\n     </tr>\n     <tr>\n      <td align="left">\n       <span class="playerPerfName">\n        <a href="https://leaderboard.dartconnect.com/showcard.html#Liszkowski-39.3-x" target="5e1d25874a6ca334944c8c43-Liszkowski-Chris">\n         Liszkowski, Chris\n        </a>\n       </span>\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       7\n      </td>\n      <td class="data">\n       1\n      </td>\n      <td class="data">\n       14%\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       1,820\n      </td>\n      <td class="data">\n       139\n      </td>\n      <td class="data">\n       39.3\n      </td>\n      <td>\n      </td>\n      <td class="data">\n      </td>\n      <td class="data">\n      </td>\n      <td class="data">\n      </td>\n     </tr>\n     <tr>\n      <td align="left">\n       <span class="playerPerfName">\n        <a href="https://leaderboard.dartconnect.com/showcard.html#O\'Krongley Jr-41.6-2.0" target="5e1d25874a6ca334944c8c43-O\'Krongley Jr-Patrick">\n         O\'Krongley Jr, Patrick\n        </a>\n       </span>\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       7\n      </td>\n      <td class="data">\n       6\n      </td>\n      <td class="data">\n       86%\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       1,303\n      </td>\n      <td class="data">\n       94\n      </td>\n      <td class="data">\n       41.6\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       68\n      </td>\n      <td class="data">\n       101\n      </td>\n      <td class="data">\n       2.0\n      </td>\n     </tr>\n     <tr class="playerDivider">\n      <td align="left">\n       <span class="playerPerfName">\n        <a href="https://leaderboard.dartconnect.com/showcard.html#Pena-35.3-1.4" target="5e1d25874a6ca334944c8c43-Pena-Joe">\n         Pena, Joe\n        </a>\n       </span>\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       7\n      </td>\n      <td class="data">\n       1\n      </td>\n      <td class="data">\n       14%\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       1,377\n      </td>\n      <td class="data">\n       117\n      </td>\n      <td class="data">\n       35.3\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       27\n      </td>\n      <td class="data">\n       60\n      </td>\n      <td class="data">\n       1.4\n      </td>\n     </tr>\n     <tr>\n      <td align="left">\n       <span class="playerPerfName">\n        <a href="https://leaderboard.dartconnect.com/showcard.html#Ryan-30.1-x" target="5e1d25874a6ca334944c8c43-Ryan-Sean">\n         Ryan, Sean\n        </a>\n       </span>\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       5\n      </td>\n      <td class="data">\n       4\n      </td>\n      <td class="data">\n       80%\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       1,034\n      </td>\n      <td class="data">\n       103\n      </td>\n      <td class="data">\n       30.1\n      </td>\n      <td>\n      </td>\n      <td class="data">\n      </td>\n      <td class="data">\n      </td>\n      <td class="data">\n      </td>\n     </tr>\n     <tr>\n      <td align="left">\n       <span class="playerPerfName">\n        <a href="https://leaderboard.dartconnect.com/showcard.html#Scholtes-43.8-x" target="5e1d25874a6ca334944c8c43-Scholtes-Dustin">\n         Scholtes, Dustin\n        </a>\n       </span>\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       7\n      </td>\n      <td class="data">\n       6\n      </td>\n      <td class="data">\n       86%\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       2,366\n      </td>\n      <td class="data">\n       162\n      </td>\n      <td class="data">\n       43.8\n      </td>\n      <td>\n      </td>\n      <td class="data">\n      </td>\n      <td class="data">\n      </td>\n      <td class="data">\n      </td>\n     </tr>\n     <tr class="playerDivider">\n      <td align="left">\n       <span class="playerPerfName">\n        <a href="https://leaderboard.dartconnect.com/showcard.html#Siemaszko-39.2-1.9" target="5e1d25874a6ca334944c8c43-Siemaszko-Daniel K">\n         Siemaszko, Daniel K\n        </a>\n       </span>\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       10\n      </td>\n      <td class="data">\n       2\n      </td>\n      <td class="data">\n       20%\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       1,896\n      </td>\n      <td class="data">\n       145\n      </td>\n      <td class="data">\n       39.2\n      </td>\n      <td>\n      </td>\n      <td class="data">\n       39\n      </td>\n      <td class="data">\n       63\n      </td>\n      <td class="data">\n       1.9\n      </td>\n     </tr>\n    </table>\n   </div>\n   <div class="recapMsg">\n    <p>\n     An email address is required for DartConnect to calculate, report and deliver player performance data. Membership is required for league statistics, select reporting features and trend analysis. Confirm your email address on the device that hosted this match &amp; join DartConnect today!\n    </p>\n   </div>\n   <div class="match-summary">\n    <table border="0" class="freeTable gameDetailTable" width="800">\n     <tr>\n      <td colspan="3">\n       <table border="0" class="freeTable playerPref" width="800">\n        <tr>\n         <th>\n         </th>\n         <th>\n          Game\n         </th>\n         <th>\n          Player\n         </th>\n         <th>\n          C\n         </th>\n         <th>\n          P-3DA\n         </th>\n         <th>\n          3DA\n         </th>\n         <th>\n          PPD\n         </th>\n         <td>\n          &amp;nbsp\n         </td>\n         <th>\n          T\n         </th>\n         <th>\n          WA\n         </th>\n         <th>\n          RD\n         </th>\n         <th>\n          CO\n         </th>\n         <td>\n          &amp;nbsp\n         </td>\n         <th>\n          SS\n         </th>\n         <th>\n          PR\n         </th>\n         <th>\n          DT\n         </th>\n         <th>\n          PTS\n         </th>\n         <th>\n          MKS\n         </th>\n         <td>\n          &amp;nbsp\n         </td>\n         <th>\n          180\n         </th>\n         <th>\n          HT\n         </th>\n         <th>\n          9M\n         </th>\n        </tr>\n        <tr class="">\n         <td class="gameNum">\n          1.1\n         </td>\n         <td class="leftcell">\n          501 SIDO\n         </td>\n         <td class="leftcell">\n          Chris Liszkowski\n         </td>\n         <td>\n         </td>\n         <td>\n         </td>\n         <td class="rightcell">\n          44.2\n         </td>\n         <td class="rightcell">\n          14.7\n         </td>\n         <td class="spacer_col">\n         </td>\n         <td align="center">\n          2\n         </td>\n         <td>\n          W\n         </td>\n         <td>\n          12\n         </td>\n         <td class="rightcell">\n          6\n         </td>\n         <td class="spacer_col">\n         </td>\n         <td>\n          501\n         </td>\n         <td>\n         </td>\n         <td>\n          34\n         </td>\n         <td class="rightcell">\n          501\n         </td>\n         <td>\n         </td>\n         <td class="spacer_col">\n         </td>\n         <td>\n         </td>\n         <td>\n         </td>\n         <td>\n         </td>\n        </tr>\n        <tr class="gameDetailSetAlt">\n         <td colspan="2">\n         </td>\n         <td class="leftcell">\n 

In [99]:
#Find and set the date
datematch = soup.h2.next_element.next_element
daydate = datematch.td.text
day = daydate[0:3]
pdate = daydate[-8:]
if (pdate[0] == " "):
    date = '0' + pdate[1:]
else:
    date = pdate
print(date)

01-13-20

In [36]:
#Identify game detail table
game_pp = soup.find(class_="freeTable playerPref")

In [13]:
#Break table into rows
rows = [row for row in game_pp.find_all("tr")]

In [17]:
#Make function to convert html rows to leg sets
def leggify(x):
    gmst = []
    for i in x:
        if (i.text == '') or (i.text == '\xa0'):
            gmst.append(0)
        else:
            gmst.append(i.get_text())
    return gmst

In [30]:
#Create a set of leg sets
all_legs = []
for row in rows[1:]:
    rowset = row.find_all('td')
    pleg = [leggify(rowset)]
    all_legs.append(pleg)

In [31]:
all_legs

[[['1.1',
   '501 SIDO',
   'Chris Liszkowski',
   0,
   0,
   '44.2',
   '14.7',
   0,
   '2',
   'W',
   '12',
   '6',
   0,
   '501',
   0,
   '34',
   '501',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Dustin Scholtes',
   'C',
   0,
   '41.1',
   '13.7',
   0,
   '1',
   0,
   0,
   0,
   0,
   '501',
   '8',
   '36',
   '493',
   0,
   0,
   0,
   0,
   0]],
 [['1.2',
   '501 SIDO',
   'Chris Liszkowski',
   0,
   0,
   '33.0',
   '11.0',
   0,
   '2',
   0,
   0,
   0,
   0,
   '501',
   '303',
   '18',
   '198',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Dustin Scholtes',
   'S',
   0,
   '75.2',
   '25.1',
   0,
   '1',
   'W',
   '7',
   '42',
   0,
   '501',
   0,
   '20',
   '501',
   0,
   0,
   0,
   0,
   0]],
 [['1.3',
   '501 SIDO',
   'Chris Liszkowski',
   'C',
   0,
   '48.3',
   '16.1',
   0,
   '1',
   0,
   0,
   0,
   0,
   '501',
   '66',
   '27',
   '435',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Dustin Scholtes',
   0,
   0,
   '55.7',
   '18.6',
   0,
   '2',
   'W',
   '9',
   '98',
   0,
   '501',
   0,
   '27',
   '501',
   0,
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['2.1',
   '301 DIDO',
   'Daniel K Siemaszko',
   0,
   '37.7',
   '34.0',
   '11.3',
   0,
   '2',
   0,
   0,
   0,
   0,
   '301',
   '75',
   '9',
   '102',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Samuel  Casiano',
   '41.3',
   '13.8',
   0,
   '4',
   0,
   0,
   0,
   0,
   0,
   0,
   '9',
   '124',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Chuck Haisler',
   'C',
   '47.5',
   '55.8',
   '18.6',
   0,
   '1',
   'W',
   '4',
   '4',
   0,
   '301',
   0,
   '10',
   '186',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Kevin Lally',
   '38.3',
   '12.8',
   0,
   '3',
   'A',
   0,
   0,
   0,
   0,
   0,
   '9',
   '115',
   0,
   0,
   0,
   0,
   0]],
 [['2.2',
   '501 SIDO',
   'Daniel K Siemaszko',
   'S',
   '47.0',
   '59.3',
   '19.8',
   0,
   '1',
   'W',
   '6',
   '10',
   0,
   '501',
   0,
   '17',
   '336',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Samuel  Casiano',
   '33.0',
   '11.0',
   0,
   '3',
   'A',
   0,
   0,
   0,
   0,
   0,
   '15',
   '165',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Chuck Haisler',
   0,
   '46.1',
   '46.4',
   '15.5',
   0,
   '2',
   0,
   0,
   0,
   0,
   '501',
   '40',
   '15',
   '232',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Kevin Lally',
   '45.8',
   '15.3',
   0,
   '4',
   0,
   0,
   0,
   0,
   0,
   0,
   '15',
   '229',
   0,
   0,
   0,
   0,
   0]],
 [['2.3',
   'Cricket',
   'Daniel K Siemaszko',
   0,
   '1.7',
   '1.7',
   '0.6',
   0,
   '2',
   0,
   0,
   0,
   0,
   '0M',
   0,
   '21',
   0,
   '12M',
   0,
   0,
   0,
   0]],
 [[0,
   'Samuel  Casiano',
   '1.7',
   '0.6',
   0,
   '4',
   0,
   0,
   0,
   0,
   0,
   0,
   '18',
   0,
   '10M',
   0,
   0,
   0,
   0]],
 [[0,
   'Kevin Lally',
   'C',
   '2.2',
   '1.6',
   '0.5',
   0,
   '1',
   'A',
   0,
   0,
   0,
   '0M',
   0,
   '21',
   0,
   '11M',
   0,
   0,
   0,
   0]],
 [[0,
   'Chuck Haisler',
   '2.8',
   '0.9',
   0,
   '3',
   'W',
   '7',
   0,
   0,
   0,
   0,
   '19',
   0,
   '18M',
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['3.1',
   '301 DIDO',
   'Joe Pena',
   0,
   0,
   '26.8',
   '8.9',
   0,
   '2',
   0,
   0,
   0,
   0,
   '301',
   '6',
   '33',
   '295',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Sean Ryan',
   'C',
   0,
   '25.1',
   '8.4',
   0,
   '1',
   'W',
   '12',
   '12',
   0,
   '301',
   0,
   '36',
   '301',
   0,
   0,
   0,
   0,
   0]],
 [['3.2',
   '301 DIDO',
   'Joe Pena',
   'S',
   0,
   '50.2',
   '16.7',
   0,
   '1',
   'W',
   '6',
   '35',
   0,
   '301',
   0,
   '18',
   '301',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Sean Ryan',
   0,
   0,
   '27.8',
   '9.3',
   0,
   '2',
   0,
   0,
   0,
   0,
   '301',
   '162',
   '15',
   '139',
   0,
   0,
   0,
   0,
   0]],
 [['3.3',
   '301 DIDO',
   'Joe Pena',
   0,
   0,
   '32.1',
   '10.7',
   0,
   '2',
   0,
   0,
   0,
   0,
   '301',
   '12',
   '27',
   '289',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Sean Ryan',
   'C',
   0,
   '32.3',
   '10.8',
   0,
   '1',
   'W',
   '10',
   '6',
   0,
   '301',
   0,
   '28',
   '301',
   0,
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['4.1',
   'Cricket',
   'Samuel  Casiano',
   0,
   '1.3',
   '1.4',
   '0.5',
   0,
   '2',
   0,
   0,
   0,
   0,
   '0M',
   0,
   '27',
   0,
   '13M',
   0,
   0,
   0,
   0]],
 [[0,
   'Joe Pena',
   '1.1',
   '0.4',
   0,
   '4',
   0,
   0,
   0,
   0,
   0,
   0,
   '27',
   0,
   '10M',
   0,
   0,
   0,
   0]],
 [[0,
   'Chuck Haisler',
   'C',
   '1.7',
   '1.7',
   '0.6',
   0,
   '1',
   'W',
   '10',
   0,
   0,
   '0M',
   0,
   '30',
   0,
   '17M',
   0,
   0,
   0,
   0]],
 [[0,
   "Patrick O'Krongley Jr",
   '1.8',
   '0.6',
   0,
   '3',
   'A',
   0,
   0,
   0,
   0,
   0,
   '27',
   0,
   '16M',
   0,
   0,
   0,
   0]],
 [['4.2',
   'Cricket',
   'Samuel  Casiano',
   'S',
   '1.6',
   '1.6',
   '0.5',
   0,
   '1',
   0,
   0,
   0,
   0,
   '0M',
   0,
   '33',
   0,
   '18M',
   0,
   0,
   0,
   0]],
 [[0,
   'Joe Pena',
   '1.6',
   '0.5',
   0,
   '3',
   0,
   0,
   0,
   0,
   0,
   0,
   '33',
   0,
   '17M',
   0,
   0,
   0,
   0]],
 [[0,
   "Patrick O'Krongley Jr",
   0,
   '1.6',
   '1.6',
   '0.5',
   0,
   '2',
   'A',
   0,
   0,
   0,
   '0M',
   0,
   '33',
   0,
   '17M',
   0,
   0,
   0,
   0]],
 [[0,
   'Chuck Haisler',
   '1.7',
   '0.6',
   0,
   '4',
   'W',
   '11',
   0,
   0,
   0,
   0,
   '31',
   0,
   '18M',
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['5.1',
   '301 DIDO',
   'Daniel K Siemaszko',
   0,
   0,
   '43.5',
   '14.5',
   0,
   '2',
   0,
   0,
   0,
   0,
   '301',
   '40',
   '18',
   '261',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   "Patrick O'Krongley Jr",
   'C',
   0,
   '47.5',
   '15.8',
   0,
   '1',
   'W',
   '7',
   '20',
   0,
   '301',
   0,
   '19',
   '301',
   0,
   0,
   0,
   0,
   0]],
 [['5.2',
   '501 SIDO',
   'Daniel K Siemaszko',
   'S',
   0,
   '42.9',
   '14.3',
   0,
   '1',
   'W',
   '12',
   '24',
   0,
   '501',
   0,
   '35',
   '501',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   "Patrick O'Krongley Jr",
   0,
   0,
   '42.6',
   '14.2',
   0,
   '2',
   0,
   0,
   0,
   0,
   '501',
   '32',
   '33',
   '469',
   0,
   0,
   0,
   0,
   0]],
 [['5.3',
   'Cricket',
   'Daniel K Siemaszko',
   'C',
   0,
   '1.9',
   '0.6',
   0,
   '1',
   0,
   0,
   0,
   0,
   '0M',
   0,
   '42',
   0,
   '27M',
   0,
   0,
   0,
   0]],
 [[0,
   "Patrick O'Krongley Jr",
   0,
   0,
   '2.6',
   '0.9',
   0,
   '2',
   'W',
   '14',
   0,
   0,
   '0M',
   0,
   '41',
   0,
   '35M',
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['6.1',
   '501 SIDO',
   'Chris Liszkowski',
   0,
   '31.6',
   '27.7',
   '9.2',
   0,
   '2',
   0,
   0,
   0,
   0,
   '501',
   '122',
   '18',
   '166',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Samuel  Casiano',
   '35.5',
   '11.8',
   0,
   '4',
   0,
   0,
   0,
   0,
   0,
   0,
   '18',
   '213',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Kevin Lally',
   'C',
   '40.6',
   '49.0',
   '16.3',
   0,
   '1',
   'W',
   '7',
   '16',
   0,
   '501',
   0,
   '19',
   '310',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Dustin Scholtes',
   '31.8',
   '10.6',
   0,
   '3',
   'A',
   0,
   0,
   0,
   0,
   0,
   '18',
   '191',
   0,
   0,
   0,
   0,
   0]],
 [['6.2',
   '501 SIDO',
   'Samuel  Casiano',
   'S',
   '35.5',
   '27.7',
   '9.2',
   0,
   '1',
   0,
   0,
   0,
   0,
   '501',
   '4',
   '21',
   '194',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Chris Liszkowski',
   '43.3',
   '14.4',
   0,
   '3',
   0,
   0,
   0,
   0,
   0,
   0,
   '21',
   '303',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Kevin Lally',
   0,
   '36.7',
   '41.4',
   '13.8',
   0,
   '2',
   'A',
   0,
   0,
   0,
   '501',
   0,
   '21',
   '290',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Dustin Scholtes',
   '31.6',
   '10.5',
   0,
   '4',
   'W',
   '7',
   '2',
   0,
   0,
   0,
   '20',
   '211',
   0,
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['7.1',
   '301 DIDO',
   'Daniel K Siemaszko',
   0,
   '29.5',
   '29.5',
   '9.8',
   0,
   '2',
   0,
   0,
   0,
   0,
   '301',
   '65',
   '12',
   '118',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Chris Liszkowski',
   '29.5',
   '9.8',
   0,
   '4',
   0,
   0,
   0,
   0,
   0,
   0,
   '12',
   '118',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Sean Ryan',
   'C',
   '33.4',
   '33.4',
   '11.1',
   0,
   '1',
   'W',
   '5',
   '50',
   0,
   '301',
   0,
   '15',
   '167',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Kevin Lally',
   '33.5',
   '11.2',
   0,
   '3',
   'A',
   0,
   0,
   0,
   0,
   0,
   '12',
   '134',
   0,
   0,
   0,
   0,
   0]],
 [['7.2',
   '301 DIDO',
   'Daniel K Siemaszko',
   'S',
   '27.6',
   '23.5',
   '7.8',
   0,
   '1',
   0,
   0,
   0,
   0,
   '301',
   '108',
   '12',
   '94',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Chris Liszkowski',
   '33.0',
   '11.0',
   0,
   '3',
   0,
   0,
   0,
   0,
   0,
   0,
   '9',
   '99',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Kevin Lally',
   0,
   '43.0',
   '43.8',
   '14.6',
   0,
   '2',
   'W',
   '4',
   '60',
   0,
   '301',
   0,
   '12',
   '175',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Sean Ryan',
   '42.0',
   '14.0',
   0,
   '4',
   'A',
   0,
   0,
   0,
   0,
   0,
   '9',
   '126',
   0,
   0,
   0,
   0,
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['8.1',
   'Cricket',
   'Samuel  Casiano',
   0,
   0,
   '1.3',
   '0.4',
   0,
   '2',
   0,
   0,
   0,
   0,
   '0M',
   0,
   '45',
   0,
   '20M',
   0,
   0,
   0,
   0]],
 [[0,
   'Chuck Haisler',
   'C',
   0,
   '1.7',
   '0.6',
   0,
   '1',
   'W',
   '16',
   0,
   0,
   '0M',
   0,
   '48',
   0,
   '27M',
   0,
   0,
   0,
   0]],
 [['8.2',
   'Cricket',
   'Samuel  Casiano',
   'S',
   0,
   '2.5',
   '0.8',
   0,
   '1',
   'W',
   '12',
   0,
   0,
   '0M',
   0,
   '36',
   0,
   '30M',
   0,
   0,
   0,
   0]],
 [[0,
   'Chuck Haisler',
   0,
   0,
   '1.6',
   '0.5',
   0,
   '2',
   0,
   0,
   0,
   0,
   '0M',
   0,
   '33',
   0,
   '17M',
   0,
   0,
   0,
   0]],
 [['8.3',
   'Cricket',
   'Samuel  Casiano',
   0,
   0,
   '1.8',
   '0.6',
   0,
   '2',
   0,
   0,
   0,
   0,
   '0M',
   0,
   '33',
   0,
   '20M',
   0,
   0,
   0,
   0]],
 [[0,
   'Chuck Haisler',
   'C',
   0,
   '2.2',
   '0.7',
   0,
   '1',
   'W',
   '12',
   0,
   0,
   '0M',
   0,
   '36',
   0,
   '26M',
   0,
   0,
   '1',
   0]],
 [[0, 0, 0, 0, 0, 0, 0]],
 [['9.1',
   '501 SIDO',
   'Daniel K Siemaszko',
   0,
   '43.4',
   '31.5',
   '10.5',
   0,
   '2',
   0,
   0,
   0,
   0,
   '501',
   '24',
   '18',
   '189',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Joe Pena',
   '57.6',
   '19.2',
   0,
   '4',
   0,
   0,
   0,
   0,
   0,
   0,
   '15',
   '288',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   "Patrick O'Krongley Jr",
   'C',
   '41.8',
   '44.3',
   '14.8',
   0,
   '1',
   'A',
   0,
   0,
   0,
   '501',
   0,
   '18',
   '266',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Dustin Scholtes',
   '39.2',
   '13.1',
   0,
   '3',
   'W',
   '6',
   '56',
   0,
   0,
   0,
   '18',
   '235',
   0,
   0,
   0,
   0,
   0]],
 [['9.2',
   '501 SIDO',
   'Joe Pena',
   'S',
   '31.2',
   '25.5',
   '8.5',
   0,
   '1',
   0,
   0,
   0,
   0,
   '501',
   '2',
   '24',
   '204',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Daniel K Siemaszko',
   '36.9',
   '12.3',
   0,
   '3',
   0,
   0,
   0,
   0,
   0,
   0,
   '24',
   '295',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   "Patrick O'Krongley Jr",
   0,
   '32.0',
   '33.4',
   '11.1',
   0,
   '2',
   'A',
   0,
   0,
   0,
   '501',
   0,
   '24',
   '267',
   0,
   0,
   0,
   0,
   0]],
 [[0,
   'Dustin Scholtes',
   '30.5',
   '10.2',
   0,
   '4',
   'W',
   '8',
   '4',
   0,
   0,
   0,
   '23',
   '234',
   0,
   0,
   0,
   0,
   0]]]

In [22]:
#Define Player Name function
def PName(matches):
    PName = []
    for leg in matches:
        if leg[0][0] == 0:
            PName.append(leg[0][1])
        else:
            PName.append(leg[0][2])
    return PName

In [23]:
#Define Leg Code function
def LegCode(matches):
    LegCode = []
    for leg in matches:
        if leg[0][0] != 0:
            thisleg = leg[0][0]
            LegCode.append(leg[0][0])
        else:
            LegCode.append(thisleg)
    return LegCode

In [24]:
#Define Game Name function
def Game(matches):
    Game = []
    for leg in matches:
        if leg[0][0] != 0:
            thisgame = leg[0][1]
            Game.append(leg[0][1])
        else:
            Game.append(thisgame)
    return Game

In [25]:
#Define Player 3 Dart Average function
def P3DA(matches):
    P3DA = []
    for leg in matches:
        if leg[0][0] != 0:
            P3DA.append(leg[0][5])
        elif (leg[0][0] == 0) & (leg[0][4] == 0):
            P3DA.append(leg[0][2])
        else:
            P3DA.append(leg[0][4])
    return P3DA

In [26]:
#Define Leg Win Function
def LegWin(matches):
    LegWin = []
    for leg in matches:
        if leg[0][0] != 0:
            LegWin.append(leg[0][9])
        elif (leg[0][0] == 0) & (leg[0][4] == 0):
            LegWin.append(leg[0][6])
        else:
            LegWin.append(leg[0][8])
    return LegWin

In [100]:
gametable = pd.DataFrame(
            {
                "Date": date,
                "Player": PName(all_legs),
                "Leg Code": pd.Series(LegCode(all_legs), dtype="float32"),
                "Game": Game(all_legs),
                "3DA": pd.Series(P3DA(all_legs), dtype="float64"),
                "W/A": LegWin(all_legs)
            })

In [101]:
gametable.head(11)

        Date              Player  Leg Code      Game   3DA W/A
0   01-13-20    Chris Liszkowski       1.1  501 SIDO  44.2   W
1   01-13-20     Dustin Scholtes       1.1  501 SIDO  41.1   0
2   01-13-20    Chris Liszkowski       1.2  501 SIDO  33.0   0
3   01-13-20     Dustin Scholtes       1.2  501 SIDO  75.2   W
4   01-13-20    Chris Liszkowski       1.3  501 SIDO  48.3   0
5   01-13-20     Dustin Scholtes       1.3  501 SIDO  55.7   W
6   01-13-20                   0       1.3  501 SIDO   0.0   0
7   01-13-20  Daniel K Siemaszko       2.1  301 DIDO  34.0   0
8   01-13-20     Samuel  Casiano       2.1  301 DIDO  41.3   0
9   01-13-20       Chuck Haisler       2.1  301 DIDO  55.8   W
10  01-13-20         Kevin Lally       2.1  301 DIDO  38.3   A